<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content">
  <div class="alert_style">
    <app-alert *ngIf="showLogin"
      status="{{ statusLogin }}"
      msg="{{ auth_response.msg }}"
    ></app-alert>
  </div>
  <form (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <label for="email">Email:</label>
    <input id="email" type="email" [(ngModel)]="usuario.email" name="email" required />

    <label for="password">Senha:</label>
    <input id="password" type="password" [(ngModel)]="usuario.senha" name="password" required />

    <button type="submit">Login</button>
    <button type="button" (click)="closeModal()">Cancelar</button>
  </form>
</div>
