main {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.539)), url('../../../assets/foto_home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #ffff;
    text-transform: uppercase;
    font-family: 'Aboreto', cursive;
}

.slogan {
    width: 320px;
    margin-left: 40px;
    padding-top: 20px;
}