<header>
  <nav class="navbar">
    <div class="logo">
      <!-- <img src="assets/logo_mintre.jpg"> -->
      <img routerLink="" src="assets/logo_mintre.jpg">
    </div>

        
    <ul class="navbar-menu">
      <li class="menu-item">
        <div class="drop-container" [class.open]="isOpen">
        <a (click)="toggleDropdown($event)" class="menu-link">Departamentos</a>

        <div class="drop-menu" [ngClass]="{ 'show': isOpen }">
          <!-- <p>Teste</p> -->
          <ul>
            <li *ngFor="let option of options">
              <a (click)="obtemMembroPorDepartamento(option)" routerLink="departamentos">{{ option }}</a>
            </li>
          </ul>
        </div>
        </div>

      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">Eventos</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">História</a>
      </li>
      <div class="user-icon">
        <a routerLink="/login" class="user-login-link">
          <i class="fas fa-user"></i>
        </a>
      </div>
    </ul>
  </nav>
</header>
