<router-outlet/>

<!-- <mat-toolbar color="primary">
  <span>Mintre</span>
  <span class="spacer"></span>
  <button mat-button (click)="obtemMembroPorDepartamento('musical')">Musical</button>
  <button mat-button (click)="obtemMembroPorDepartamento('infantil')">Infantil</button>
  <button mat-button (click)="obtemMembroPorDepartamento('mídia')">Mídia</button>
</mat-toolbar>

<div *ngFor="let membro of membros">
  <p> {{membro.nome}} </p>
  <p> {{membro.cargo}} </p>
  <p> {{membro.url_foto}} </p>
  <p> {{membro.telefone}} </p>
</div> -->